@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    --primary-color: #465bb7;
    --main-bg-color: rgb(20, 20, 20);
}

.side {
    
}

.cube {

}

/* #region Obfuscated stuff im too lazy to fix */
[class~="side"]::before {
  content: "";
}
:root,
[class~="cube"] {
  margin-left: auto;
}
[class~="cube"],
:root {
  margin-bottom: auto;
}
:root,
[class~="cube"] {
  margin-right: auto;
}
[class~="cube"],
:root {
  margin-top: auto;
}
[class~="content"] {
  display: none;
}
[class~="side"]:nth-child(1) {
  transform: rotateY(90deg);
}
[class~="side"]::before,
[class~="loader"] {
  position: absolute;
}
[class~="loader"] {
  left: 50%;
}
.side:nth-child(2) {
  transform: rotateY(180deg);
}
[class~="loader"] {
  top: 50%;
}
[class~="loader"] {
  -webkit-transform: translate(-50%, -50%);
}
[class~="loader"] {
  transform: translate(-50%, -50%);
}
[class~="side"]:nth-child(3) {
  transform: rotateY(270deg);
}
.side,
[class~="side"]::before {
  top: 0;
}
.side:nth-child(4) {
  transform: rotateY(360deg);
}
[class~="cube"] {
  font-size: 1.5pc;
}
.side,
[class~="side"]::before {
  bottom: 0;
}
.side,
[class~="side"]::before {
  left: 0;
}
[class~="cube"] {
  height: 1em;
}
[class~="side"]::before,
.side {
  right: 0;
}
[class~="cube"] {
  width: 1em;
}
[class~="cube"] {
  position: relative;
}
[class~="cube"] {
  transform: rotateX(30deg) rotateY(45deg);
}
[class~="cube"],
.side {
  transform-style: preserve-3d;
}
[class~="cube"] {
  animation: cube-spin 1.5s infinite ease-in-out alternate;
}
[class~="side"]:nth-child(5) {
  transform: rotateX(90deg);
}
.side {
  position: absolute;
}
[class~="side"]::before {
  background-color: currentColor;
}
[class~="side"]:nth-child(6) {
  transform: rotateX(270deg);
}
[class~="side"]::before {
  transform: translateZ(0.5em);
}
.side {
  color: var(--primary-color);
}
[class~="side"]::before {
  animation: cube-explode 1.5s infinite ease-in-out;
}
[class~="side"]::before {
  opacity: 0.5;
}
@keyframes cube-spin {
  0% {
    transform: rotateX(30deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(405deg);
  }
}
@keyframes cube-explode {
  0% {
    transform: translateZ(0.5em);
  }
  50% {
    transform: translateZ(0.75em);
  }
  100% {
    transform: translateZ(0.5em);
  }
}
[class~="title"] {
  font-family: "Rubik", sans-serif;
}
[class~="title"] {
  padding-left: auto;
}
[class~="btn"]:hover,
[class~="title"]:hover {
  transform: scale(1.01);
}
[class~="title"] {
  padding-bottom: auto;
}
[class~="title"] {
  padding-right: auto;
}
[class~="btn"],
[class~="btn"]:hover {
  border-left-color: var(--primary-color);
}
[class~="title"] {
  padding-top: auto;
}
[class~="title"] {
  margin-left: 0.9375pc;
}
[class~="title"] {
  margin-bottom: 0.9375pc;
}
[class~="title"] {
  margin-right: 0.9375pc;
}
[class~="title"] {
  margin-top: 0.9375pc;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-bottom-color: var(--primary-color);
}
[class~="btn-container"],
[class~="btn"],
[class~="subtitle"],
[class~="title"] {
  text-align: center;
}
[class~="title"] {
  color: #fff;
}
[class~="title"] {
  font-size: 0.729166667in;
}
[class~="btn"],
[class~="title"] {
  transition: transform 0.2s;
}
[class~="title-split"] {
  color: var(--primary-color);
}
[class~="btn"],
[class~="btn"]:hover {
  border-right-color: var(--primary-color);
}
[class~="btn"] {
  max-width: 200px;
}
[class~="btn"] {
  height: 0in;
}
[class~="btn"] {
  border-left-width: 0.020833333in;
}
[class~="btn"] {
  border-bottom-width: 0.020833333in;
}
[class~="btn"] {
  border-right-width: 0.020833333in;
}
[class~="btn"] {
  border-top-width: 0.020833333in;
}
[class~="btn"] {
  border-left-style: solid;
}
[class~="btn"] {
  border-bottom-style: solid;
}
[class~="btn"]:hover,
[class~="btn"] {
  border-top-color: var(--primary-color);
}
[class~="btn"] {
  border-right-style: solid;
}
[class~="btn"] {
  border-top-style: solid;
}
[class~="btn"]:hover {
  color: var(--main-bg-color);
}
[class~="btn"]:hover {
  background-color: var(--primary-color);
}
[class~="btn"] {
  border-image: none;
}
[class~="btn"] {
  background-color: var(--main-bg-color);
}
[class~="btn"] {
  color: black;
}
[class~="btn"]:hover {
  font-weight: bolder;
}
[class~="btn"] {
  color: var(--primary-color);
}
[class~="btn"] {
  padding-left: 1.25pc;
}
[class~="btn"] {
  padding-bottom: 1.25pc;
}
[class~="btn"] {
  padding-right: 1.25pc;
}
[class~="btn"] {
  padding-top: 1.25pc;
}
[class~="btn"] {
  font-size: 15pt;
}
[class~="btn"] {
  cursor: pointer;
}
[class~="btn"] {
  border-radius: 5px;
}
[class~="btn"] {
  font-family: "Rubik", sans-serif;
}
[class~="btn"] {
  line-height: 0pt;
}
[class~="btn"] {
  margin-left: 2.5pc;
}
[class~="btn"] {
  margin-bottom: 2.5pc;
}
[class~="btn"] {
  margin-right: 2.5pc;
}
[class~="btn"] {
  margin-top: 2.5pc;
}
[class~="subtitle"] {
  font-family: "Rubik", sans-serif;
}
[class~="subtitle"] {
  padding-left: auto;
}
[class~="subtitle"] {
  padding-bottom: auto;
}
[class~="subtitle"] {
  padding-right: auto;
}
[class~="subtitle"] {
  padding-top: auto;
}
[class~="subtitle"] {
  margin-left: 0.9375pc;
}
[class~="subtitle"] {
  margin-bottom: 0.9375pc;
}
[class~="subtitle"] {
  margin-right: 0.9375pc;
}
[class~="subtitle"] {
  margin-top: 0.9375pc;
}
[class~="subtitle"] {
  color: #929292;
}
[class~="subtitle"] {
  font-size: 20px;
}
[class~="auto-type"],
[class~="subtitle"] {
  transition: transform 0.2s;
}
[class~="auto-type"] {
  text-transform: uppercase;
}
[class~="auto-type"] {
  color: #b7b7b7;
}
[class~="auto-type"] {
  font-weight: 1;
}

/* #endregion */

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

/* #region Cards Styling */

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.content {
  margin: auto;
  justify-content: center;
  padding: auto;
  width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: calc(100% - 20px);
  text-align: left;
  margin: auto;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

h1,
h2,
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-small-image {
  height: 20px;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* #endregion */

.btn {
  border-width: 1px;
  margin-top: 2.5pc;
  margin-right: 2.5pc;
  margin-bottom: 2.5pc;
  margin-left: 2.5pc;
  line-height: 0pt;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15pt;
  padding-top: 1.25pc;
  padding-right: 1.25pc;
  padding-bottom: 1.25pc;
  padding-left: 1.25pc;
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  border-image: none;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: var(--primary-color);
  border-bottom-style: solid;
  border-left-style: solid;
  height: 0in;
  max-width: 200px;
  border-right-color: var(--primary-color);
  transition: transform 0.2s;
  text-align: center;
  border-bottom-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

.btn:hover {
  font-weight: normal;
}


/* Navbar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
}

nav img {
  width: 100%;
}

header {
  width: 60%;
  height: 45px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-color: #4b4b4b;
  position: absolute;
  top: 0;
  left: 20%; /* Half of width remainder */
}

.logo-nav {
  width: 20px;
}

.logo {
  width: 120px;
  margin-top: 8px;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: white;
  display: block;
  margin: 0 2px;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  font-family: "Rubik", sans-serif;
}

nav ul li a:hover {
  color: #c7c7c7;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: white;
}
@media only screen and (max-width: 1100px) {
  header {
      width: 60%;
      padding: 0 20px;
  }
  nav {
      position: absolute;
      left: -500px;
      top: 0;
      z-index: 999;
      width: 200px;
      margin-right: 500px;
      height: 200vh;
      background-color: var(--bg-color);
      transition: 0.2s;
      box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
      border-right: 1px solid;
      border-color: rgb(53, 53, 53);
  }

  #nav_check:checked ~ nav {
      left: 0;
  }
  nav .logo {
      display: block;
      height: 70px;
      display: flex;
      align-items: center;
      margin-left: 30px;
  }
  nav ul {
      display: block;
      padding: 0 20px;
      margin-top: 30px;
  }
  nav ul li a {
      margin-bottom: 5px;
      padding: 15px;
      border-radius: 5px;
      font-size: 20px;
  }
  .hamburger {
      display: block;
  }
}

.info {
  font-family: "Anonymous Pro", monospace;
  padding: auto;
  margin: auto;
  padding-top: 10px;
  color: #929292;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.info img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}